h2 {
    color: red;
    font-size: 50px;
    font-family: Lobster, Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    font-family: monospace;
}

.img-size {
    width: 500px;
}

.img-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.silver-background {
    background-color: silver;
}

#cat-photo-form {
    background-color: green;
}

[type='checkbox'] {
    margin-top: 10px;
    margin-bottom: 15px;
}